<!-- CustomMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopee.shopeebeadmindemo.mybatis.AccountBatisService">

    <!-- Select Query -->
    <select id="getList" resultType="java.util.HashMap">
        <if test="isCountTotalPage == true">
            <!-- Count Query -->
            SELECT count(*) as total FROM (
        </if>

        <!-- Main Query -->
        <trim prefix="SELECT" suffixOverrides=",">
            <foreach item="field" collection="fields" separator=",">
                <choose>
                    <when test="field == 'id' or
                                field == 'username' or
                                field == 'birthday' or
                                field == 'gender' or
                                field == 'email' or
                                field == 'avatar' or
                                field == 'created' or
                                field == 'updated'">
                        a.${field} as ${field}
                    </when>
                    <when test="field == 'isActive'">
                        a.is_active as "isActive"
                    </when>
                </choose>
            </foreach>
        </trim>

        FROM account a WHERE 1 = 1

        <!-- Conditions -->
        <if test="request.id != null">
            AND a.id::text LIKE '%' || #{request.id} || '%'
        </if>
        <if test="request.username != null">
            AND a.username LIKE '%' || #{request.username} || '%'
        </if>
        <if test="request.gender != null">
            AND a.gender = #{request.gender}
        </if>
        <if test="
            request.email != null
            and request.email != ''">
            AND a.email = #{request.email}
        </if>

        <!-- Date Range Condition -->
        <choose>
            <when test="
                request.fromBirthday != null
                and request.toBirthday != null">
                AND to_char(a.birthday, 'yyyyMMdd') BETWEEN #{request.fromBirthday} AND #{request.toBirthday}
            </when>
        </choose>

        <choose>
            <when test="request.createFromDate != null
                        and request.createToDate != null">
                AND to_char(a.created,'yyyyMMdd') BETWEEN #{request.createFromDate} AND #{request.createToDate}
            </when>
        </choose>

        <!-- Order By Clause -->
        <if test="
            request.page != null
            and request.page != null
            and isCountTotalPage == false
            and request.listSorted != null
            and request.listSorted.size() > 0">
            ORDER BY
            <foreach item="field" collection="request.listSorted" separator=", ">
                --TODO Fix later (isActive) Not Working
                ${field.field}
                ${field.value}
            </foreach>
        </if>

        <!-- Pagination -->
        <choose>
            <when test="request.page != null
                        and request.size != null
                        and isCountTotalPage == false">
                LIMIT #{request.size} OFFSET #{request.page}
            </when>
        </choose>

        <!-- Closing Count Query -->
        <if test="isCountTotalPage == true">
            )
        </if>
    </select>
</mapper>