<!-- CustomMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopee.shopeebeadmindemo.mybatis.AccountBatisService">
    <select id="getList" resultType="java.util.HashMap">
        <if test="isCountTotalPage == true">
            select count(*) as total from (
        </if>
        select
        <foreach item="field" collection="fields" separator=",">
            <if test="field == 'id'">
                a.id
            </if>
            <if test="field == 'username'">
                a.username
            </if>
            <if test="field == 'birthday'">
                a.birthday
            </if>
            <if test="field == 'gender'">
                a.gender
            </if>
            <if test="field == 'email'">
                a.email
            </if>
            <if test="field == 'avatar'">
                a.avatar
            </if>
            <if test="field == 'created'">
                a.created
            </if>
            <if test="field == 'updated'">
                a.updated
            </if>
            <if test="field == 'isActive'">
                a.is_active
            </if>
        </foreach>
        from account a
        where 1 = 1
        <if test="request.username != null">
            and a.username like '%' || #{request.username} || '%'
        </if>
        <if test="request.gender != null">
            and a.gender = #{request.gender}
        </if>
        <if test="request.email != null">
            and a.email = #{email}
        </if>
        <choose>
            <when test="request.fromBirthday != null and request.toBirthday != null">
                and a.birthday between #{request.fromBirthday} and #{request.toBirthday}
            </when>
            <otherwise></otherwise>
        </choose>
        <if test="request.page != null and request.page != 0 and isCountTotalPage == false">
            order by username
        </if>
        <choose>
            <when test="request.page != null and request.size != null and isCountTotalPage == false">
                LIMIT #{request.size} OFFSET #{request.page}
            </when>
            <otherwise></otherwise>
        </choose>
        <if test="isCountTotalPage == true">
            )
        </if>
    </select>
</mapper>

