<!-- CustomMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopee.shopeebeadmindemo.mybatis.AccountBatisService">

    <!-- Select Query -->
    <select id="getList" resultType="java.util.HashMap">
        <if test="isCountTotalPage == true">
            <!-- Count Query -->
            SELECT count(*) as total FROM (
        </if>

        <!-- Main Query -->
        SELECT
        <foreach item="field" collection="fields" separator=",">
            <choose>
                <when test="field == 'id'">
                    a.id
                </when>
                <when test="field == 'username'">
                    a.username
                </when>
                <when test="field == 'birthday'">
                    a.birthday
                </when>
                <when test="field == 'gender'">
                    a.gender
                </when>
                <when test="field == 'email'">
                    a.email
                </when>
                <when test="field == 'avatar'">
                    a.avatar
                </when>
                <when test="field == 'created'">
                    a.created
                </when>
                <when test="field == 'updated'">
                    a.updated
                </when>
                <when test="field == 'isActive'">
                    a.is_active
                </when>
            </choose>
        </foreach>

        <!-- From Clause -->
        FROM account a
        WHERE 1 = 1

        <!-- Conditions -->
        <if test="request.username != null">
            AND a.username LIKE '%' || #{request.username} || '%'
        </if>
        <if test="request.gender != null">
            AND a.gender = #{request.gender}
        </if>
        <if test="request.email != null">
            AND a.email = #{email}
        </if>

        <!-- Date Range Condition -->
        <choose>
            <when test="request.fromBirthday != null and request.toBirthday != null">
                AND a.birthday BETWEEN #{request.fromBirthday} AND #{request.toBirthday}
            </when>
        </choose>

        <!-- Order By Clause -->
        <if test="request.page != null and request.page != 0 and isCountTotalPage == false">
            ORDER BY username
        </if>

        <!-- Pagination -->
        <choose>
            <when test="request.page != null and request.size != null and isCountTotalPage == false">
                LIMIT #{request.size} OFFSET #{request.page}
            </when>
        </choose>

        <!-- Closing Count Query -->
        <if test="isCountTotalPage == true">
            )
        </if>
    </select>
</mapper>