<!-- CustomMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopee.ecommer.mybatis.OrderBatisService">

    <!-- Select Query -->
    <select id="getList" resultType="java.util.HashMap">
        <if test="isCountTotalPage == true">
            <!-- Count Query -->
            SELECT count(*) as total FROM (
        </if>

        <!-- Main Query -->
        <trim prefix="SELECT" suffixOverrides=",">
            <foreach item="field" collection="request.listFields" separator=",">
                <choose>
                    <when test="field == 'orderDate'">
                        pro.order_date as "orderDate"
                    </when>
                    <when test="field == 'shipCity'">
                        pro.ship_city as "shipCity"
                    </when>
                    <when test="field == 'shippedDate'">
                        pro.shipped_date as "shippedDate"
                    </when>
                    <when test="field == 'shipRegion'">
                        pro.ship_region as "shipRegion"
                    </when>
                    <when test="field == 'username'">
                        ac.username as "username"
                    </when>
                    <otherwise>
                        pro.${field} as ${field}
                    </otherwise>
                </choose>
            </foreach>
        </trim>

        FROM order_ecommer pro inner join account ac on pro.account_id = ac.id
        WHERE 1 = 1

        <!-- Conditions -->
        <if test="request.id != null">
            AND pro.id::text LIKE '%' || #{request.id} || '%'
        </if>
        <choose>
            <when test="request.orderFromDate != null
                        and request.orderToDate != null">
                AND to_char(pro.created,'yyyyMMdd') BETWEEN #{request.orderFromDate} AND #{request.orderToDate}
            </when>
        </choose>
        <if test="request.shipCity != null">
            AND pro.shipCity::text LIKE '%' || #{request.shipCity} || '%'
        </if>
        <choose>
            <when test="request.shippedFromDate != null
                        and request.shippedToDate != null">
                AND to_char(pro.created,'yyyyMMdd') BETWEEN #{request.shippedFromDate} AND #{request.shippedToDate}
            </when>
        </choose>
        <if test="request.shipRegion != null">
            AND pro.shipRegion::text LIKE '%' || #{request.shipRegion} || '%'
        </if>
        <if test="request.userName != null">
            AND ac.username::text LIKE '%' || #{ac.username} || '%'
        </if>

        <!-- Date Range -->
        <choose>
            <when test="request.createFromDate != null
                        and request.createToDate != null">
                AND to_char(pro.created,'yyyyMMdd') BETWEEN #{request.createFromDate} AND #{request.createToDate}
            </when>
        </choose>

        <!-- Order By Clause -->
        <if test="
            request.page != null
            and request.page != null
            and isCountTotalPage == false
            and request.listSorted != null
            and request.listSorted.size() > 0">
            ORDER BY
            <foreach item="field" collection="request.listSorted" separator=", ">
                <!-- Fix Later -->
                ${field.field}
                ${field.value}
            </foreach>
        </if>

        <!-- Pagination -->
        <choose>
            <when test="request.page != null
                        and request.size != null
                        and isCountTotalPage == false">
                LIMIT #{request.size} OFFSET #{request.page}
            </when>
        </choose>

        <!-- Closing Count Query -->
        <if test="isCountTotalPage == true">
            )
        </if>
    </select>
</mapper>